<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All">
    <test name="pn_ua_test">
        <classes>
            <class name="tests.BaseTest"/>
            <class name="tests.SortByNameTest"/>
            <class name="tests.SortByPriceTest"/>
            <class name="tests.TwoItemsCompareTest"/>
            <class name="tests.SelectionByFunctionTest"/>
            <class name="tests.SelectionByManufacturerTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>
